<div class="b-header"
     b-toolbar>
    <div class="b-toolbar"
         ng-controller="ToolbarBasicController">

        <tabset class="b-toolbar-tabs-head">
            <tab class="b-toolbar-tabs-label b-toolbar-file-tab"
                 disabled="true"
                 ng-mousedown="controlClick();"
                 heading="{{'toolbar.tabs.file' | translate}}">
            </tab>

            <tab class="b-toolbar-tabs-label"
                 heading="{{'toolbar.tabs.start' | translate}}"
                 active="true">
                <ng-include b-include-replace src="'template/toolbar/tabs/start/index.html'"></ng-include>
            </tab>

            <tab class="b-toolbar-tabs-label"
                 heading="{{'toolbar.tabs.insert' | translate}}">
            </tab>

            <tab class="b-toolbar-tabs-label"
                 heading="{{'toolbar.tabs.layout' | translate}}">
            </tab>

            <tab class="b-toolbar-tabs-label"
                 heading="{{'toolbar.tabs.formula' | translate}}">
            </tab>

            <tab class="b-toolbar-tabs-label"
                 heading="{{'toolbar.tabs.data' | translate}}">
            </tab>

            <tab class="b-toolbar-tabs-label"
                 heading="{{'toolbar.tabs.review' | translate}}">
            </tab>

            <tab class="b-toolbar-tabs-label"
                 heading="{{'toolbar.tabs.view' | translate}}">
            </tab>
        </tabset>
    </div>

    <div class="b-row b-input-area">
        <div class="b-btable-ctrl-btns"></div>
        <div id="btableOuterInput" spellcheck="false" contenteditable="true" class="btable-input"></div>
    </div>
</div>

<div class="b-body">
    <div class="btable-container"></div>
</div>

<div class="b-footer">
    <div class="b-sheet-list">
        <div b-sheetlist></div>
    </div>
    <div class="b-status-bar">
        就绪
    </div>
</div>
<ng-include src="'template/dialogs/cell-format.html '"></ng-include>