<div class="b-numberformat-box b-font-tabs">
    <table class="b-font-tabs-layout">
        <tbody>
        <tr>
            <td>
                字体：
                <div class="b-fontfamily-panel b-select-box">
                    <input disabled
                           ng-model="status._default.font">

                    <select size="100" ng-model="status._default.font">
                        <option ng-repeat="font in fonts"
                                ng-selected="font === status._default.font"
                                value="{{font}}">
                            {{font}}
                        </option>
                    </select>
                </div>
            </td>

            <td>
                字形：
                <div class="b-fontstyle-panel b-select-box">
                    <input disabled
                           ng-model="fontStyle[status._default.fontstyle].text">

                    <select ng-model="status._default.fontstyle" size="100">
                        <option ng-repeat="style in fontStyle"
                                ng-selected="status._default.fontstyle === $index"
                                value="{{$index}}">
                            {{style.text}}
                        </option>
                    </select>
                </div>
            </td>

            <td>
                字号：
                <div class="b-fontsize-panel b-select-box">
                    <input disabled
                           ng-model="status._default.fontsize">

                    <select ng-model="status._default.fontsize" size="100">
                        <option ng-repeat="size in fontSize"
                                ng-selected="size === status._default.fontsize"
                                value="{{size}}">
                            {{size}}
                        </option>
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                下划线：
                <div>
                    <select ng-model="status._default.underline">
                        <option ng-repeat="line in underline"
                                value="{{$index}}">
                            {{line.text}}
                        </option>
                    </select>
                </div>
            </td>

            <td>
                颜色：
                <div>
                    <button b-attr-colorpicker
                            ng-model="status._default.color"
                            type="button"
                            class="btn b-color-btn b-row">
                        <div class="b-color-panel">
                            <div ng-style="{backgroundColor: status._default.color}"></div>
                        </div>
                        <div class="b-caret-wrap">
                            <span class="caret"></span>
                        </div>
                    </button>
                </div>
            </td>

            <td>
            </td>
        </tr>
        <tr>
            <td>
                特殊效果：
                <div>
                    <label class="i-checks">
                        <input type="checkbox"
                               ng-model="status._default.throughline">
                        <i></i>
                        删除线
                    </label>
                </div>
            </td>

            <td colspan="2">
                预览：
                <div class="b-font-preview-box b-column">
                    <span ng-style="
                        {
                            'font-family': status._default.font,
                            'color': status._default.color,
                            'font-size': status._default.fontsize + 'px',
                            'font-style': (status._default.fontstyle == 1 || status._default.fontstyle == 3)? 'italic' : 'normal',
                            'font-weight': (status._default.fontstyle == 2 || status._default.fontstyle == 3)? '900' : 'normal',
                            'text-decoration': status._default.underline != 1 ? (status._default.throughline ? 'line-through' : 'none') : 'underline'
                        }
                    ">微软卓越 AaBbCc</span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>