<div class="b-button-select b-mergecell-selector" ng-class="{'b-open': isOpen || isSelected}">
    <a class="btn b-btn b-mergeandcenter-button" role="button" ng-class="{'b-open': isOpen || isSelected}" ng-click="changeModel('center');">
        <span class="b-icon b-icon-merge"></span>
        {{'toolbar.buttonlabel.merge' | translate}}
    </a>
    <div class="btn-group" dropdown on-toggle="isOpen=open;">
        <button type="button" class="btn b-btn dropdown-toggle" dropdown-toggle ng-class="{'b-open': isOpen || isSelected}">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a class="b-row" ng-click="changeModel('center');">
                    <span class="b-icon b-icon-merge b-mr5"></span>
                    {{'toolbar.items.merge.center' | translate}}
                </a>
            </li>
            <li>
                <a class="b-row" ng-click="changeModel('across');">
                    <span class="b-icon b-icon-merge b-mr5"></span>
                    {{'toolbar.items.merge.across' | translate}}
                </a>
            </li>
            <li>
                <a class="b-row" ng-click="changeModel('merge');">
                    <span class="b-icon b-icon-merge b-mr5"></span>
                    {{'toolbar.items.merge.merge' | translate}}
                </a>
            </li>
            <li>
                <a class="b-row" ng-click="changeModel('cancel');">
                    <span class="b-icon b-icon-merge b-mr5"></span>
                    {{'toolbar.items.merge.cancel' | translate}}
                </a>
            </li>
        </ul>
    </div>
</div>