<div class="b-drappanel-wrap">
    <div class="b-drappanel b-row">
        <div class="b-drappanel-box">
            <div class="b-drappanel-content b-row b-row-left b-wrap">
                <div ng-click="select(style.id, style.builtin);" ng-repeat="style in uncategoryBuiltinStyles" class="b-drappanel-item">
                    <div class="b-drappanel-item-inside" style="{{style.styleText}}">
                        {{style.name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="b-ctrl-button-group b-column">
            <button type="button" class="btn b-btn" ng-class="{disabled: !allowUp}" ng-click="pageUp();">
                <span class="b-arrow-up"></span>
            </button>
            <button type="button" class="btn b-btn" ng-class="{disabled: !allowDown}" ng-click="pageDown();">
                <span class="b-arrow-down"></span>
            </button>
            <button type="button" class="btn b-btn" ng-click="openPanel($event);">
                <span class="b-arrow-open"></span>
            </button>
        </div>
    </div>
    <div class="dropdown-menu b-drappanel-menu" role="menu">
        <div class="b-drappanel-menu-bed" ng-click="checkPop($event);">
            <div ng-repeat="categoryStyle in builtinStyles" class="b-drappanel-menu-box">
                <label class="b-cellstyle-category-label">
                    {{categoryStyle[0].categoryName}}
                </label>
                <div class="b-droppanel-menu-item-wrap b-row">
                    <div ng-click="select(style.id, style.builtin);" isitem ng-repeat="style in categoryStyle" class="b-drappanel-menu-item">
                        <div class="b-drappanel-menu-item-inside" isitem style="{{style.styleText}}">
                            {{style.name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>