<div>
    <!-- horizontal alignments -->
    <div class="btn-group">
        <label class="btn b-btn" ng-model="value" btn-radio="'left'" ng-click="alignChange('left');" uncheckable>
            <span class="b-icon b-icon-left"></span>
        </label>
        <label class="btn b-btn" ng-model="value" btn-radio="'center'" ng-click="alignChange('center');" uncheckable>
            <span class="b-icon b-icon-center"></span>
        </label>
        <label class="btn b-btn" ng-model="value" btn-radio="'right'" ng-click="alignChange('right');" uncheckable>
            <span class="b-icon b-icon-right"></span>
        </label>
    </div>
</div>