.modal {
  display: flex;
}

.modal-dialog {
  width: auto;
  height: auto;
}

.modal-content {
  margin: auto;
}

.b-row {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.b-row-stretch {
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

.b-wrap {
  flex-wrap: wrap;
}

.b-row-left {
  align-content: flex-start;
  text-align: left;
}

.b-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.b-column-left {
  display: flex;
  flex-direction: column;
}

/* --- arrow start --- */

.b-arrow-up {
  display: block;
  margin-top: -3px;
  width: 0;
  height: 0;
  border: 3px solid transparent;
  border-bottom-color: black;
}

.b-arrow-down {
  display: block;
  margin-top: 3px;
  width: 0;
  height: 0;
  border: 3px solid transparent;
  border-top-color: black;
}

.b-arrow-left {
  display: block;
  margin-left: -3px;
  width: 0;
  height: 0;
  border: 3px solid transparent;
  border-right-color: black;
}

.b-arrow-right {
  display: block;
  margin-right: -3px;
  width: 0;
  height: 0;
  border: 3px solid transparent;
  border-left-color: black;
}

.b-arrow-open {
  display: block;
  margin-top: 3px;
  &::before {
    content: "";
    display: block;
    width: 8px;
    height: 1px;
    background: black;
    transform: translate(-4px, -6px);
  }
  width: 0;
  height: 0;
  border: 3px solid transparent;
  border-top-color: black;
}

/* --- arrow end --- */