.b-header {
  .b-input-area {
    align-items: flex-start;
    padding: 10px;

    .b-btable-ctrl-btns {
      width: 300px;
      height: 25px;
      margin-right: 5px;
    }

    .btable-input {
      height: 25px;
      flex: 1;
      overflow: hidden;
    }
  }


}