.b-header {
  width: 100%;
  height: 195px;
  background: #ffffff;
}

.b-body {
  position: absolute;
  top: 195px;
  bottom: 70px;
  left: 0;
  right: 0;

  .btable-container {
    width: 100%;
    height: 100%;
  }
}

.b-footer {
  width: 100%;
  height: 70px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px solid #ccc;
}

.dropdown-menu {
  overflow-x: hidden!important;
  overflow-y: auto!important;
}