html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 960px;
}

.header {
  width: 100%;
  height: 140px;
}

.body {
  position: absolute;
  top: 140px;
  bottom: 50px;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  border-width: 1px 0;

  .btable-container {
    width: 100%;
    height: 100%;
  }
}

.footer {
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
}