<div class="b-numberformat-tabs-content b-column">
    <label>
        小数位数：
        <input type="number"
            ng-model="status._default.precision"
            min="0"
            max="30">
    </label
            >
    <label>
        货币符号(国家/地区)：
        <select ng-model="status._default.currency">
            <option ng-repeat="symbol in currencyList"
                    value="{{$index}}" ng-selected="{{$index === status._default.currency}}">
                {{symbol.text}}
            </option>
        </select>
    </label>

    <div class="b-numberformat-desc">
        会计格式可对一列数值进行货币符号和小数点对齐。
    </div>
</div>