<div class="b-numberformat-box b-border-box-tabs b-row">
    <div>
        <fieldset class="b-border-line-box">
            <legend>线条</legend>
            <ul class="b-border-style-list">
                <li ng-repeat="border in borderStyle" ng-click="status.borderType = $index;" ng-class="{'b-selected': status.borderType === $index}">
                    <span style="border-bottom-width: {{border.width}}px; border-bottom-style: {{border.type}}; border-bottom-color: {{status.borderColor}}">{{border.text}}</span>
                </li>
            </ul>
            <div>
                颜色：
                <div>
                    <button ng-model="status.borderColor" b-attr-colorpicker type="button" class="btn b-color-btn b-row">
                        <div class="b-color-panel">
                            <div ng-style="{backgroundColor: status.borderColor}"></div>
                        </div>
                        <div class="b-caret-wrap">
                            <span class="caret"></span>
                        </div>
                    </button>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="b-column b-border-type-box">
        <fieldset class="b-border-builtin-box">
            <legend>预置</legend>
            <button ng-click="clearBorder('all');">无</button>
            <button ng-click="builtinBorderChange('outer');">外边框</button>
            <button ng-click="builtinBorderChange('inner');">内部</button>
        </fieldset>

        <fieldset class="b-border-ctrl-box">
            <legend>边框</legend>
            <table>
                <tbody>
                    <tr>
                        <td valign="top" align="right">
                            <button class="btn b-border-line-btn" ng-class="{'b-active': status.borders.top != null}" ng-click="borderChange('top');">上</button>
                        </td>
                        <td colspan="3" rowspan="3" valign="middle" align="center">
                            <div class="b-border-preview">
                                <div class="b-border-preview-cell b-row">
                                    <div>文本</div>
                                    <div>文本</div>
                                    <div>文本</div>
                                    <div>文本</div>
                                </div>
                                <div class="b-border-preview-line b-preview-line-top" ng-style="status.borders.top"></div>
                                <div class="b-border-preview-line b-preview-line-middle" ng-style="status.borders.middle"></div>
                                <div class="b-border-preview-line b-preview-line-bottom" ng-style="status.borders.bottom"></div>
                                <div class="b-border-preview-line b-preview-line-left" ng-style="status.borders.left"></div>
                                <div class="b-border-preview-line b-preview-line-center" ng-style="status.borders.center"></div>
                                <div class="b-border-preview-line b-preview-line-right" ng-style="status.borders.right"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">
                            <button class="btn b-border-line-btn" ng-class="{'b-active': status.borders.middle != null}" ng-click="borderChange('middle');">内</button>
                        </td>
                    </tr>
                    <tr>
                        <td valign="bottom" align="right">
                            <button class="btn b-border-line-btn" ng-class="{'b-active': status.borders.bottom != null}" ng-click="borderChange('bottom');">下</button>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td valign="top" align="left">
                            <button class="btn b-border-line-btn" ng-class="{'b-active': status.borders.left != null}" ng-click="borderChange('left');">左</button>
                        </td>
                        <td valign="top" align="center">
                            <button class="btn b-border-line-btn" ng-class="{'b-active': status.borders.center != null}" ng-click="borderChange('center');">内</button>
                        </td>
                        <td valign="top" align="right">
                            <button class="btn b-border-line-btn" ng-class="{'b-active': status.borders.right != null}" ng-click="borderChange('right');">右</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </div>
</div>