<div class="b-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel();"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">超链接：</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="hyperlinkTextInput" class="control-label">显示文本:</label>
                        <input class="form-control" id="hyperlinkTextInput" ng-model="text">
                    </div>
                    <div class="form-group">
                        <label for="hyperlinkInput" class="control-label">链接地址（仅http(s)协议）:</label>
                        <input class="form-control" id="hyperlinkInput" ng-model="hyperlink">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel();">
                    {{'common.cancel' | translate}}
                </button>
                <button type="button" class="btn btn-primary" ng-click="ok();">
                    {{'common.ok' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>