<div class="toolbar-groups b-toolbar-fonts-groups">
    <div class="b-column b-fontsgroup-layout">
        <div class="b-row">
            <!-- font family -->
            <b-inputselect classname="b-fontfamily-select" change="handler.fontSelect(value);" select-value="values.fontfamily" values="initValue.fontfamily"></b-inputselect>

            <!-- font size -->
            <b-inputselect classname="b-fontsize-select" change="handler.fontsizeSelect(value);" only-number="true" select-value="values.fontsize" values="initValue.fontsize"></b-inputselect>
        </div>
        <div class="b-toolbar-fonts-biu-wrap">

            <!-- BIU -->
            <b-pressbutton buttontype="bold" onchange="handler.pressChange('bold', status)" pressed="false"></b-pressbutton>
            <b-pressbutton buttontype="italic" onchange="handler.pressChange('italic', status)" pressed="false"></b-pressbutton>
            <b-pressbutton buttontype="underline" onchange="handler.pressChange('underline', status)" pressed="false"></b-pressbutton>

            <div class="b-toolbar-delimiter"></div>

            <!-- border -->
            <div class="btn-group" dropdown on-toggle="btnState.borderOpen=open;">
                <button type="button" class="btn b-btn dropdown-toggle" dropdown-toggle ng-class="{'b-open': btnState.borderOpen}">
                    <span class="b-icon b-icon-border"></span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-click="handler.borderSelect('bottom');">
                        <a class="b-row">
                            <span class="b-icon b-icon-border-bottom b-mr5"></span>
                            {{'toolbar.items.border.bottom' | translate}}
                        </a>
                    </li>
                    <li ng-click="handler.borderSelect('top');">
                        <a class="b-row">
                            <span class="b-icon b-icon-border-top b-mr5"></span>
                            {{'toolbar.items.border.top' | translate}}
                        </a>
                    </li>
                    <li ng-click="handler.borderSelect('left');">
                        <a class="b-row">
                            <span class="b-icon b-icon-border-left b-mr5"></span>
                            {{'toolbar.items.border.left' | translate}}
                        </a>
                    </li>
                    <li ng-click="handler.borderSelect('right');">
                        <a class="b-row">
                            <span class="b-icon b-icon-border-right b-mr5"></span>
                            {{'toolbar.items.border.right' | translate}}
                        </a>
                    </li>
                    <li ng-click="handler.borderSelect('none');">
                        <a class="b-row">
                            <span class="b-icon b-icon-border-none b-mr5"></span>
                            {{'toolbar.items.border.none' | translate}}
                        </a>
                    </li>
                    <li ng-click="handler.borderSelect('all');">
                        <a class="b-row">
                            <span class="b-icon b-icon-border-all b-mr5"></span>
                            {{'toolbar.items.border.all' | translate}}
                        </a>
                    </li>
                    <li ng-click="handler.borderSelect('outer');">
                        <a class="b-row">
                            <span class="b-icon b-icon-border-outer b-mr5"></span>
                            {{'toolbar.items.border.outer' | translate}}
                        </a>
                    </li>
                </ul>
            </div>

            <div class="b-toolbar-delimiter"></div>

            <b-colorpicker oncolorchange="handler.colorChange('background', color);" colortype="bgcolor"></b-colorpicker>
            <b-colorpicker oncolorchange="handler.colorChange('foreground', color);" colortype="color"></b-colorpicker>
        </div>
    </div>

    <button type="button" class="btn b-btn b-open-cellformat-btn" ng-click="handler.openCellFormat('font')">
        <span class="b-icon"></span>
    </button>

    <div>
        {{'toolbar.grouplabel.fonts' | translate}}
    </div>
</div>