<div class="toolbar-groups">
    <div class="b-column b-undogroup-layout">
        <div>
            <a b-tooltip="toolbar.tooltip.undo" class="btn b-btn" role="button" data-name="undo" ng-click="handler.btnclick($event);">
                <span class="b-icon b-icon-undo"></span>
            </a>
        </div>
        <div>
            <a b-tooltip="toolbar.tooltip.redo" class="btn b-btn" role="button" data-name="redo" ng-click="handler.btnclick($event);">
                <span class="b-icon b-icon-redo"></span>
            </a>
        </div>
    </div>
    <div>
        {{'toolbar.grouplabel.undo' | translate}}
    </div>
</div>