<div class="btn-group b-drop-button" dropdown on-toggle="btnState.numberOpen=open;">
    <div type="button" class="btn b-drop-button-bottom b-btn dropdown-toggle" dropdown-toggle ng-class="{'b-open': btnState.numberOpen}">
        <span class="b-big-icon b-icon-number"></span>
        {{'toolbar.buttonlabel.numberformat' | translate}}
        <span class="caret"></span>
    </div>
    <ul class="dropdown-menu" role="menu">
        <li ng-repeat="type in types" ng-click="select($index)">
            <a class="b-row">
                <span class="b-big-icon b-icon-{{type}} b-mr5"></span>
                {{'toolbar.items.format.' + type | translate}}
            </a>
        </li>
    </ul>
</div>