<div>
    <!-- vertical alignments -->
    <div class="btn-group">
        <label class="btn b-btn" ng-model="value" btn-radio="'top'" ng-click="alignChange('top');" uncheckable>
            <span class="b-icon b-icon-top"></span>
        </label>
        <label class="btn b-btn" ng-model="value" btn-radio="'middle'" ng-click="alignChange('middle');" uncheckable>
            <span class="b-icon b-icon-middle"></span>
        </label>
        <label class="btn b-btn" ng-model="value" btn-radio="'bottom'" ng-click="alignChange('bottom');" uncheckable>
            <span class="b-icon b-icon-bottom"></span>
        </label>
    </div>
</div>