<div class="b-numberformat-box">
    <fieldset>
        <legend>文本对齐方式</legend>

        <div>
            <label>
                水平对齐：

                <select ng-model="status._default.hAlign">
                    <option ng-repeat="align in horizontalAlign"
                            ng-selected="{{status.hAlignSelected === $index;}}"
                            value="{{$index}}">
                        {{align.text}}
                    </option>
                </select>
            </label>
        </div>

        <div>
            <label>
                垂直对齐：

                <select ng-model="status._default.vAlign">
                    <option ng-repeat="align in verticalAlign"
                            ng-selected="{{status._default.vAlign === $index;}}"
                            value="{{$index}}">
                        {{align.text}}
                    </option>
                </select>
            </label>
        </div>
    </fieldset>

    <fieldset>
        <legend>文本控制</legend>

        <div>
            <label class="i-checks">
                <input type="checkbox"
                       ng-model="status._default.wraptext">
                <i></i>
                自动换行
            </label>
        </div>

        <div>
            <label class="i-checks">
                <input type="checkbox"
                       ng-model="status._default.merge">
                <i></i>
                合并单元格
            </label>
        </div>
    </fieldset>
</div>