@import "./toolbar-common";

.toolbar-groups {
  position: relative;
  top: 0;
  left: 0;

  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  font-size: @labelfontsize;

  > *:first-child {
    min-height: 70px;
  }

  .btn {
    font-weight: normal;
    font-size: @labelfontsize;
  }

  * {
    &:FOCUS {
      outline: none!important;
    }
    outline: none!important;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .b-group-label {
    font-size: 14px;
  }
}
