@green-color: #217346;
.file-tab-style() {
  color: #ffffff!important;
  border-color: @green-color!important;
  background: @green-color!important;
}

.b-toolbar {
  width: 100%;
  height: 141px;
  border-bottom: 1px solid #d5d5d5;

  .b-toolbar-file-tab {
    &:HOVER {
      .file-tab-style();
      background: none!important;

      a {
        .file-tab-style();
      }
    }

    a {
      .file-tab-style();
    }
  }

  .b-toolbar-tabs-head {
    background: #ffffff;
  }

  .b-toolbar-tabs-label {
    font-size: 15px;
    margin-right: 3px;

    a {
      cursor: default!important;
    }

    &.active a {
      color: @green-color;

      &:HOVER {
        color: @green-color;
      }
    }
  }

  color: #000000;

  * {
    box-sizing: border-box;
  }

  .toolbar-tabs-content {
    display: flex;
    background: #fff;
    padding: 5px 10px;
    height: 110px;

    .b-tabs-page {
      display: flex;
    }
  }

  .b-toolbar-tabs-label a {
    height: 30px;
    padding: 0 20px;
    line-height: 30px;
    color: black;

    &:HOVER {
      color: @green-color;
      background: none;
      border-color: transparent;
    }
  }
}

