@import "toolbar-common";

.b-toolbar {
  .b-drap-button .dropdown-menu {
    margin-top: 0px;
    margin-left: -1px;
  }

  .dropdown-menu {
    margin-top: 0px;
    max-height: 600px;
    overflow: scroll;
    font-size: 12px;

    a:HOVER {
      cursor: default;
      background: @button-hover-color!important;
    }
  }

  .b-border-menu {
    overflow: visible!important;
  }

  .b-submenu-item {
    position: relative;
    top: 0;
    left: 0;
    overflow: visible!important;
  }

  .b-submenu {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    opacity: 0;

    &.b-show {
      display: block;
      opacity: 1;
    }
  }
}