<!-- Modal -->
<div class="modal" id="cellFormatModal" style="display: none;" ng-controller="CellForamtModalController" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{'dialog.title.cellformat' | translate}}</h4>
            </div>
            <div class="modal-body">
                <ng-include src="'template/toolbar/tabs/start/cell-format/index.html'"></ng-include>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn b-modal-btn b-ok-btn" ng-mousedown="modalOkClick($event);">{{'common.ok' | translate}}</button>
                <button type="button" class="btn b-modal-btn b-cancel-btn" data-dismiss="modal">{{'common.cancel' | translate}}</button>
            </div>
        </div>
    </div>
</div>