.toolbar .b-toolbar-panel > .fui-panel-content > .fui-button {
  margin: 7px 3px;
  border: 1px solid transparent;
  padding: 3px;
  border-radius: 1px;
  line-height: 0;
  /* ------------------  icon ------------------ */
}
.toolbar .b-toolbar-panel > .fui-panel-content > .fui-button .fui-icon {
  width: 20px;
  height: 20px;
  background: url(icon.png) no-repeat 0 0;
}
.toolbar .b-toolbar-panel > .fui-panel-content > .fui-button:HOVER {
  border-color: #ccc;
}
.toolbar .b-toolbar-panel > .fui-panel-content > .fui-button.b-print .fui-icon {
  background-position: 0 -694px;
}
.toolbar .b-toolbar-panel > .fui-panel-content > .fui-button.b-bold .fui-icon {
  background-position: 0 -2709px;
}
.toolbar .b-toolbar-panel > .fui-panel-content > .fui-button.b-italic .fui-icon {
  background-position: 0 -2793px;
}
.toolbar .b-toolbar-panel > .fui-panel-content > .fui-button.b-underline .fui-icon {
  background-position: 0 -1387px;
}
.toolbar .b-toolbar-panel > .fui-panel-content > .fui-button.fui-button-pressed {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #eee;
  background-image: -webkit-linear-gradient(top, #eeeeee, #e0e0e0);
  border-color: #ccc;
}
.toolbar .b-toolbar-panel > .fui-panel-content > .fui-button:ACTIVE {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #eee;
  background-image: -webkit-linear-gradient(top, #eeeeee, #e0e0e0);
  border-color: #ccc;
}
.toolbar .b-toolbar-panel > .fui-panel-content > .fui-button.fui-disabled {
  box-shadow: none!important;
  background: none!important;
  border-color: transparent!important;
}

.fui-buttonset {
  margin-top: 7px;
  line-height: 0;
}
.fui-buttonset .fui-button {
  padding: 3px;
  margin-right: 3px;
  border-radius: 1px;
  border: 1px solid transparent;
}
.fui-buttonset .fui-button .fui-icon {
  width: 20px;
  height: 20px;
  background: url(icon.png) no-repeat;
}
.fui-buttonset .fui-button .b-left {
  background-position: -21px -1428px;
}
.fui-buttonset .fui-button .b-center {
  background-position: 0 -987px;
}
.fui-buttonset .fui-button .b-right {
  background-position: 0 -1575px;
}
.fui-buttonset .fui-button .b-top {
  background-position: -21px -3234px;
}
.fui-buttonset .fui-button .b-middle {
  background-position: 0 -1281px;
}
.fui-buttonset .fui-button .b-bottom {
  background-position: 0 -2331px;
}
.fui-buttonset .fui-button:HOVER {
  border-color: #ccc;
}
.fui-buttonset .fui-button.fui-button-pressed {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #eee;
  background-image: -webkit-linear-gradient(top, #eeeeee, #e0e0e0);
  border-color: #ccc;
}
.fui-buttonset .fui-button.fui-disabled {
  box-shadow: none!important;
  background: none!important;
  border-color: transparent!important;
}

.b-fontsize {
  width: 50px;
  margin-top: 7px;
  border: 1px solid transparent;
  border-radius: 1px;
  height: 24px;
  line-height: 0;
}
.b-fontsize .fui-input {
  border: 0;
  width: 38px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  padding: 0;
  border-right: 1px solid transparent;
  background: transparent;
  opacity: 1!important;
}
.b-fontsize .fui-input:FOCUS {
  background: #fff;
}
.b-fontsize .fui-input-button {
  opacity: 1!important;
}
.b-fontsize .b-fontsize-open {
  width: 11px;
  height: 24px;
}
.b-fontsize .b-fontsize-open .fui-icon {
  margin-top: 10px;
  margin-left: 3px;
  width: 5px;
  height: 3px;
  background: url(down.png) no-repeat 0 0;
}
.b-fontsize.fui-opend,
.b-fontsize:HOVER {
  border-color: #ccc;
}
.b-fontsize.fui-opend .fui-input,
.b-fontsize:HOVER .fui-input {
  border-color: #ccc;
}
.b-fontsize.fui-opened {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #eee;
  background-image: -webkit-linear-gradient(top, #eeeeee, #e0e0e0);
  border-color: #ccc;
}
.b-fontsize.fui-disabled {
  box-shadow: none!important;
  background: none!important;
  border-color: transparent!important;
}
.b-fontsize.fui-disabled .fui-input {
  border-color: transparent!important;
}
.b-fontsize-menu {
  padding: 5px 0 10px 0;
  margin-left: -1px;
  margin-top: 1px;
}
.b-fontsize-menu .fui-item {
  min-width: 30px;
  padding: 0 20px 0 10px;
}
.b-fontsize-menu .fui-item .fui-label {
  height: 25px;
  line-height: 25px;
}
.b-fontsize-menu .fui-item:HOVER {
  background: #eee;
}

.toolbar-container {
  width: 100%;
  height: 42px;
  background: #f2f2f2;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
}
.toolbar-container .toolbar-inner {
  width: 100%;
  height: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
}
.toolbar-container .toolbar-inner .toolbar {
  width: 90%;
  height: 40px;
  margin: 0px auto;
}
.toolbar-container .toolbar-inner .toolbar .fui-widget {
  vertical-align: top;
  display: inline-block;
}
.toolbar-container .toolbar-inner .toolbar .b-toolbar-panel {
  height: 100%;
  overflow: visible;
}
.outer-input-container {
  width: 100%;
  height: 25px;
  background: #fff;
  font-size: 14px;
  overflow: hidden;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
}
.outer-input-container .fx-icon {
  width: 50px;
  height: 100%;
  border-right: 1px solid #ccc;
  float: left;
}
.outer-input-container .fx-icon .icon-box {
  width: 20px;
  height: 20px;
  margin: 3px auto;
  background: url(icon.png) no-repeat 0 -1029px;
}
.outer-input-container .outer-input-wrapper {
  margin-left: 50px;
  height: 24px;
}
.outer-input-container .outer-input-wrapper .outer-input {
  box-sizing: border-box;
  padding: 2px 5px;
  outline: none;
  height: 100%;
  line-height: 20px;
}

.toolbar .fui-select {
  width: 100px;
  margin-top: 7px;
  border: 1px solid transparent;
  padding: 3px;
  border-radius: 1px;
  line-height: 0;
}
.toolbar .fui-select .fui-select-bed .fui-label {
  width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.toolbar .fui-select .b-fontfamily-open {
  width: 5px;
  height: 3px;
  float: right;
  margin-top: 8px;
  background: url(down.png) no-repeat 0 0;
}
.toolbar .fui-select .fui-select-container {
  min-width: 100px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px 0 10px 0;
}
.toolbar .fui-select .fui-select-container .fui-item {
  display: block;
}
.toolbar .fui-select .fui-select-container .fui-item .fui-label {
  height: 25px;
  line-height: 25px;
  padding: 0 50px 0 10px;
}
.toolbar .fui-select .fui-select-container .fui-item:HOVER {
  background: #eee;
}
.toolbar .fui-select.fui-opened {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #eee;
  background-image: -webkit-linear-gradient(top, #eeeeee, #e0e0e0);
  border-color: #ccc;
}
.toolbar .fui-select:HOVER {
  border-color: #ccc;
}
.toolbar .fui-select.fui-disabled {
  box-shadow: none!important;
  background: none!important;
  border-color: transparent!important;
}

.toolbar .fui-separator {
  width: 1px;
  height: 41px;
  background: #ccc;
  margin: -1px 10px;
}
