.b-shortcut-format > .fui-button,
.b-border-select > .fui-button,
.b-border-style > .fui-button,
.b-toolbar-panel > .fui-panel-content > .fui-button {
  margin: 7px 3px;
  border: 1px solid transparent;
  padding: 3px;
  border-radius: 1px;
  line-height: 0;
  /* ------------------  icon ------------------ */
}
.b-shortcut-format > .fui-button .fui-icon,
.b-border-select > .fui-button .fui-icon,
.b-border-style > .fui-button .fui-icon,
.b-toolbar-panel > .fui-panel-content > .fui-button .fui-icon {
  width: 20px;
  height: 20px;
  background: url(icon.png) no-repeat 0 0;
}
.b-shortcut-format > .fui-button.b-column-asc .fui-icon,
.b-border-select > .fui-button.b-column-asc .fui-icon,
.b-border-style > .fui-button.b-column-asc .fui-icon,
.b-toolbar-panel > .fui-panel-content > .fui-button.b-column-asc .fui-icon {
  background: url(asc.png) no-repeat 0 0;
}
.b-shortcut-format > .fui-button.b-column-desc .fui-icon,
.b-border-select > .fui-button.b-column-desc .fui-icon,
.b-border-style > .fui-button.b-column-desc .fui-icon,
.b-toolbar-panel > .fui-panel-content > .fui-button.b-column-desc .fui-icon {
  background: url(desc.png) no-repeat 0 0;
}
.b-shortcut-format > .fui-button:HOVER,
.b-border-select > .fui-button:HOVER,
.b-border-style > .fui-button:HOVER,
.b-toolbar-panel > .fui-panel-content > .fui-button:HOVER {
  border-color: #ccc;
}
.b-shortcut-format > .fui-button.b-print .fui-icon,
.b-border-select > .fui-button.b-print .fui-icon,
.b-border-style > .fui-button.b-print .fui-icon,
.b-toolbar-panel > .fui-panel-content > .fui-button.b-print .fui-icon {
  background-position: 0 -1764px;
}
.b-shortcut-format > .fui-button.b-bold .fui-icon,
.b-border-select > .fui-button.b-bold .fui-icon,
.b-border-style > .fui-button.b-bold .fui-icon,
.b-toolbar-panel > .fui-panel-content > .fui-button.b-bold .fui-icon {
  background-position: 0 -2709px;
}
.b-shortcut-format > .fui-button.b-italic .fui-icon,
.b-border-select > .fui-button.b-italic .fui-icon,
.b-border-style > .fui-button.b-italic .fui-icon,
.b-toolbar-panel > .fui-panel-content > .fui-button.b-italic .fui-icon {
  background-position: 0 -2793px;
}
.b-shortcut-format > .fui-button.b-underline .fui-icon,
.b-border-select > .fui-button.b-underline .fui-icon,
.b-border-style > .fui-button.b-underline .fui-icon,
.b-toolbar-panel > .fui-panel-content > .fui-button.b-underline .fui-icon {
  background-position: 0 -1387px;
}
.b-shortcut-format > .fui-button.b-dec-precision .fui-icon,
.b-border-select > .fui-button.b-dec-precision .fui-icon,
.b-border-style > .fui-button.b-dec-precision .fui-icon,
.b-toolbar-panel > .fui-panel-content > .fui-button.b-dec-precision .fui-icon {
  background-position: -21px -3192px;
}
.b-shortcut-format > .fui-button.b-inc-precision .fui-icon,
.b-border-select > .fui-button.b-inc-precision .fui-icon,
.b-border-style > .fui-button.b-inc-precision .fui-icon,
.b-toolbar-panel > .fui-panel-content > .fui-button.b-inc-precision .fui-icon {
  background-position: -21px -1953px;
}
.b-shortcut-format > .fui-button.b-thousandth .fui-icon,
.b-border-select > .fui-button.b-thousandth .fui-icon,
.b-border-style > .fui-button.b-thousandth .fui-icon,
.b-toolbar-panel > .fui-panel-content > .fui-button.b-thousandth .fui-icon {
  display: none;
}
.b-shortcut-format > .fui-button.b-thousandth .fui-label,
.b-border-select > .fui-button.b-thousandth .fui-label,
.b-border-style > .fui-button.b-thousandth .fui-label,
.b-toolbar-panel > .fui-panel-content > .fui-button.b-thousandth .fui-label {
  width: 20px;
  height: 20px;
  font-size: 18px;
  text-align: center;
  line-height: 15px;
}
.b-shortcut-format > .fui-button .b-border-select-icon,
.b-border-select > .fui-button .b-border-select-icon,
.b-border-style > .fui-button .b-border-select-icon,
.b-toolbar-panel > .fui-panel-content > .fui-button .b-border-select-icon {
  background-position: -21px -2395px;
}
.b-shortcut-format > .fui-button .b-border-select-open-icon,
.b-border-select > .fui-button .b-border-select-open-icon,
.b-border-style > .fui-button .b-border-select-open-icon,
.b-toolbar-panel > .fui-panel-content > .fui-button .b-border-select-open-icon {
  width: 5px;
  height: 3px;
  background: url(down.png) 0 0 no-repeat !important;
  margin: 8px 0 0 5px;
}
.b-shortcut-format > .fui-button .b-border-style-icon,
.b-border-select > .fui-button .b-border-style-icon,
.b-border-style > .fui-button .b-border-style-icon,
.b-toolbar-panel > .fui-panel-content > .fui-button .b-border-style-icon {
  background-position: 0 -484px;
}
.b-shortcut-format > .fui-button .b-border-style-open-icon,
.b-border-select > .fui-button .b-border-style-open-icon,
.b-border-style > .fui-button .b-border-style-open-icon,
.b-toolbar-panel > .fui-panel-content > .fui-button .b-border-style-open-icon {
  width: 3px;
  height: 5px;
  background: url(right.png) no-repeat 0 0;
  float: right;
  margin-top: 7px;
}
.b-shortcut-format > .fui-button .fui-label,
.b-border-select > .fui-button .fui-label,
.b-border-style > .fui-button .fui-label,
.b-toolbar-panel > .fui-panel-content > .fui-button .fui-label {
  font-weight: bold;
  font-family: Arial, sans-serif;
}
.b-shortcut-format > .fui-button .b-shortcut-format-open-icon,
.b-border-select > .fui-button .b-shortcut-format-open-icon,
.b-border-style > .fui-button .b-shortcut-format-open-icon,
.b-toolbar-panel > .fui-panel-content > .fui-button .b-shortcut-format-open-icon {
  width: 5px;
  height: 3px;
  background: url(down.png) 0 0 no-repeat !important;
  margin: 8px 0 0 5px;
  float: right;
}
.b-shortcut-format > .fui-button.fui-button-presse,
.b-border-select > .fui-button.fui-button-presse,
.b-border-style > .fui-button.fui-button-presse,
.b-toolbar-panel > .fui-panel-content > .fui-button.fui-button-presse {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #eee;
  background-image: -webkit-linear-gradient(top, #eeeeee, #e0e0e0);
  border-color: #ccc;
}
.b-shortcut-format > .fui-button:ACTIVE,
.b-border-select > .fui-button:ACTIVE,
.b-border-style > .fui-button:ACTIVE,
.b-toolbar-panel > .fui-panel-content > .fui-button:ACTIVE {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #eee;
  background-image: -webkit-linear-gradient(top, #eeeeee, #e0e0e0);
  border-color: #ccc;
}
.b-shortcut-format > .fui-button.fui-disabled,
.b-border-select > .fui-button.fui-disabled,
.b-border-style > .fui-button.fui-disabled,
.b-toolbar-panel > .fui-panel-content > .fui-button.fui-disabled {
  box-shadow: none!important;
  background: none!important;
  border-color: transparent!important;
}
.b-border-select.fui-opened .fui-sub-menu-button {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #eee;
  background-image: -webkit-linear-gradient(top, #eeeeee, #e0e0e0);
  border-color: #ccc;
}
.b-border-style {
  width: 100%;
  margin: 0;
}
.b-border-style .fui-button {
  margin: 0 auto;
  display: block;
  width: 80%;
}
.b-border-style .fui-label {
  margin-left: 10px;
}
.b-border-style.fui-opened .fui-sub-menu-button {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #eee;
  background-image: -webkit-linear-gradient(top, #eeeeee, #e0e0e0);
  border-color: #ccc;
}
.b-shortcut-format.fui-opened .fui-sub-menu-button {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #eee;
  background-image: -webkit-linear-gradient(top, #eeeeee, #e0e0e0);
  border-color: #ccc;
}
.b-border-style-panel.fui-sub-menu-panel {
  padding: 5px 0 10px 0;
}
.b-border-style-panel.fui-sub-menu-panel .fui-item {
  padding: 2px 30px 2px 10px;
  width: 100px;
  height: 20px;
}
.b-border-style-panel.fui-sub-menu-panel .fui-item .fui-icon {
  background: none;
}
.b-border-style-panel.fui-sub-menu-panel .fui-item.fui-selected .fui-icon {
  background: url(selected.png) no-repeat -3px 0;
}
.b-border-style-panel.fui-sub-menu-panel .fui-item .fui-label {
  width: 70px;
  margin-left: 10px;
  height: 0;
  border-top: 2px solid black;
}
.b-border-style-panel.fui-sub-menu-panel .fui-item.b-border-style-dashed .fui-label {
  border-top-style: dashed;
}
.b-border-style-panel.fui-sub-menu-panel .fui-item.b-border-style-dotted .fui-label {
  border-top-style: dotted;
}
.b-shortcut-format-panel {
  min-width: 100px;
}
.b-shortcut-format-panel .fui-item .fui-icon {
  display: none;
}

.fui-buttonset {
  margin-top: 7px;
  line-height: 0;
}
.fui-buttonset .fui-button {
  padding: 3px;
  margin-right: 3px;
  border-radius: 1px;
  border: 1px solid transparent;
}
.fui-buttonset .fui-button .fui-icon {
  width: 20px;
  height: 20px;
  background: url(icon.png) no-repeat;
}
.fui-buttonset .fui-button .b-left {
  background-position: -21px -1428px;
}
.fui-buttonset .fui-button .b-center {
  background-position: 0 -987px;
}
.fui-buttonset .fui-button .b-right {
  background-position: 0 -1575px;
}
.fui-buttonset .fui-button .b-top {
  background-position: -21px -3234px;
}
.fui-buttonset .fui-button .b-middle {
  background-position: 0 -1281px;
}
.fui-buttonset .fui-button .b-bottom {
  background-position: 0 -2331px;
}
.fui-buttonset .fui-button:HOVER {
  border-color: #ccc;
}
.fui-buttonset .fui-button.fui-button-pressed {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #eee;
  background-image: -webkit-linear-gradient(top, #eeeeee, #e0e0e0);
  border-color: #ccc;
}
.fui-buttonset .fui-button.fui-disabled {
  box-shadow: none!important;
  background: none!important;
  border-color: transparent!important;
}

.b-colorpicker {
  margin: 7px 10px 0 0;
  border: 1px solid transparent;
  padding: 3px;
  border-radius: 1px;
  width: 28px;
  height: 20px;
  background: transparent;
  position: relative;
  top: 0;
  left: 3px;
  /* ------------------  icon ------------------ */
  /* border color */
}
.b-colorpicker .fui-color-bar {
  width: 20px;
  height: 3px;
  background: #fff;
  position: absolute;
  top: 18px;
  left: 3px;
}
.b-colorpicker .b-open-icon {
  width: 5px;
  height: 3px;
  background: url(down.png) no-repeat 0 0;
  float: right;
  margin-top: 8px;
}
.b-colorpicker:HOVER {
  border-color: #ccc;
}
.b-colorpicker .b-frontcolor-icon,
.b-colorpicker .b-fillcolor-icon {
  width: 20px;
  height: 20px;
  background: url(icon.png) no-repeat -21px -315px;
  position: absolute;
  top: 2px;
  left: 3px;
}
.b-colorpicker .b-fillcolor-icon {
  background-position: -21px -1575px;
}
.b-colorpicker.fui-opened {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #eee;
  background-image: -webkit-linear-gradient(top, #eeeeee, #e0e0e0);
  border-color: #ccc;
}
.b-colorpicker.fui-disabled {
  box-shadow: none!important;
  background: none!important;
  border-color: transparent!important;
}
.b-colorpicker.b-border-color {
  width: 80%;
  margin: 0 auto;
  height: 20px;
  left: 0;
  display: block;
}
.b-colorpicker.b-border-color .fui-color-bar {
  background: black;
}
.b-colorpicker.b-border-color .b-border-color-icon {
  width: 20px;
  height: 20px;
  background: url(icon.png) no-repeat -21px -1345px;
}
.b-colorpicker.b-border-color .fui-label {
  margin-left: 10px;
}
.b-colorpicker.b-border-color .b-open-icon {
  width: 3px;
  height: 5px;
  background: url(right.png) no-repeat 0 0;
  float: right;
  margin-top: 7px;
}
.fui-colorpicker-panel {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px 5px 10px;
}
.fui-colorpicker-panel table {
  border: none;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
}
.fui-colorpicker-panel td {
  padding: 1px;
  background: #fff;
  border: 1px solid transparent;
}
.fui-colorpicker-panel td:HOVER {
  border-color: #000;
}
.fui-colorpicker-panel .fui-clear-color {
  padding: 2px;
  margin-bottom: 5px;
  cursor: default;
}
.fui-colorpicker-panel .fui-clear-color:HOVER {
  background-color: #eee;
}
.fui-colorpicker-panel .fui-color-block {
  width: 15px;
  height: 15px;
}

.b-fontsize {
  width: 50px;
  margin-top: 7px;
  border: 1px solid transparent;
  border-radius: 1px;
  height: 24px;
  line-height: 0;
}
.b-fontsize .fui-input {
  border: 0;
  width: 38px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  padding: 0;
  border-right: 1px solid transparent;
  background: transparent;
  cursor: default;
  opacity: 1!important;
}
.b-fontsize .fui-input:FOCUS {
  background: #fff;
}
.b-fontsize .fui-input-button {
  opacity: 1!important;
}
.b-fontsize .b-fontsize-open {
  width: 11px;
  height: 24px;
}
.b-fontsize .b-fontsize-open .fui-icon {
  margin-top: 10px;
  margin-left: 3px;
  width: 5px;
  height: 3px;
  background: url(down.png) no-repeat 0 0;
}
.b-fontsize.fui-opend,
.b-fontsize:HOVER {
  border-color: #ccc;
}
.b-fontsize.fui-opend .fui-input,
.b-fontsize:HOVER .fui-input {
  border-color: #ccc;
}
.b-fontsize.fui-opened {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #eee;
  background-image: -webkit-linear-gradient(top, #eeeeee, #e0e0e0);
  border-color: #ccc;
}
.b-fontsize.fui-disabled {
  box-shadow: none!important;
  background: none!important;
  border-color: transparent!important;
}
.b-fontsize.fui-disabled .fui-input {
  border-color: transparent!important;
}
.b-fontsize-menu {
  padding: 5px 0 10px 0;
  margin-left: -1px;
  margin-top: 1px;
}
.b-fontsize-menu .fui-item {
  min-width: 30px;
  padding: 0 20px 0 10px;
}
.b-fontsize-menu .fui-item .fui-label {
  height: 25px;
  line-height: 25px;
}
.b-fontsize-menu .fui-item:HOVER {
  background: #eee;
}

.toolbar-container {
  width: 100%;
  height: 42px;
  background: #f2f2f2;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
}
.toolbar-container .toolbar-inner {
  width: 100%;
  height: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
}
.toolbar-container .toolbar-inner .toolbar {
  width: 90%;
  height: 40px;
  margin: 0px auto;
  line-height: 0;
  font-size: 0;
}
.toolbar-container .toolbar-inner .toolbar .fui-widget {
  vertical-align: top;
  display: inline-block;
}
.toolbar-container .toolbar-inner .toolbar .b-toolbar-panel {
  height: 100%;
  overflow: visible;
}
.outer-input-container {
  width: 100%;
  height: 25px;
  background: #fff;
  font-size: 14px;
  overflow: hidden;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
}
.outer-input-container .fx-icon {
  width: 50px;
  height: 100%;
  border-right: 1px solid #ccc;
  float: left;
}
.outer-input-container .fx-icon .icon-box {
  width: 20px;
  height: 20px;
  margin: 3px auto;
  background: url(icon.png) no-repeat 0 -1029px;
}
.outer-input-container .outer-input-wrapper {
  box-sizing: border-box;
  margin-left: 50px;
  height: 24px;
  padding: 2px 5px;
  overflow: hidden;
}
.outer-input-container .outer-input-wrapper .outer-input {
  outline: none;
  line-height: 20px;
  color: black;
}

.toolbar .fui-select {
  width: 100px;
  margin-top: 7px;
  border: 1px solid transparent;
  padding: 3px;
  border-radius: 1px;
  line-height: 0;
}
.toolbar .fui-select .fui-select-bed .fui-label {
  width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.toolbar .fui-select .b-fontfamily-open {
  width: 5px;
  height: 3px;
  float: right;
  margin-top: 8px;
  background: url(down.png) no-repeat 0 0;
}
.toolbar .fui-select .fui-select-container {
  min-width: 100px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px 0 10px 0;
}
.toolbar .fui-select .fui-select-container .fui-item {
  display: block;
}
.toolbar .fui-select .fui-select-container .fui-item .fui-label {
  height: 25px;
  line-height: 25px;
  padding: 0 50px 0 10px;
}
.toolbar .fui-select .fui-select-container .fui-item:HOVER {
  background: #eee;
}
.toolbar .fui-select.fui-opened {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #eee;
  background-image: -webkit-linear-gradient(top, #eeeeee, #e0e0e0);
  border-color: #ccc;
}
.toolbar .fui-select:HOVER {
  border-color: #ccc;
}
.toolbar .fui-select.fui-disabled {
  box-shadow: none!important;
  background: none!important;
  border-color: transparent!important;
}

.toolbar .fui-separator {
  width: 1px;
  height: 41px;
  background: #ccc;
  margin: -1px 10px;
}

.fui-sub-menu-panel {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px 0 10px 0;
}
.fui-sub-menu-panel .fui-panel-content {
  line-height: 0;
}
.fui-sub-menu-panel .fui-item {
  border: 1px solid #fff;
  border-width: 1px 0;
  padding: 3px 30px 3px 10px;
  display: block;
}
.fui-sub-menu-panel .fui-item .fui-label {
  margin-left: 10px;
}
.fui-sub-menu-panel .fui-item .fui-icon {
  width: 20px;
  height: 20px;
  background: url(icon.png) no-repeat;
}
.fui-sub-menu-panel .fui-item:HOVER {
  background: #eee;
  border-color: #dedede;
}
.fui-sub-menu-panel .b-border-bottom .fui-icon {
  background-position: -21px -967px;
}
.fui-sub-menu-panel .b-border-top .fui-icon {
  background-position: -21px -2732px;
}
.fui-sub-menu-panel .b-border-left .fui-icon {
  background-position: 0 -3110px;
}
.fui-sub-menu-panel .b-border-right .fui-icon {
  background-position: -21px -2815px;
}
.fui-sub-menu-panel .fui-separator {
  width: 90%!important;
  height: 1px;
  background: #ddd;
  margin: 3px 5%;
}
.fui-sub-menu-panel .b-border-none .fui-icon {
  background-position: 0 -2983px;
}
.fui-sub-menu-panel .b-border-all .fui-icon {
  background-position: -21px -2395px;
}
.fui-sub-menu-panel .b-border-outer .fui-icon {
  background-position: -21px -610px;
}
