.toolbar {

  .b-toolbar-panel > .fui-panel-content > .fui-button {

    margin: 7px 3px;

    border: 1px solid transparent;
    padding: 3px;
    border-radius: 1px;

    line-height: 0;

    .fui-icon {
      width: 20px;
      height: 20px;
      background: url(./icon.png) no-repeat 0 0;
    }

    &:HOVER {
      border-color: #ccc;
    }


    /* ------------------  icon ------------------ */
    &.b-print .fui-icon{
      background-position: 0 -694px;
    }

    &.b-bold .fui-icon{
      background-position: 0 -2709px;
    }

    &.b-italic .fui-icon{
      background-position: 0 -2793px;
    }

    &.b-underline .fui-icon{
      background-position: 0 -1387px;
    }

    &.fui-button-pressed {
      box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
      background-color: #eee;
      background-image: -webkit-linear-gradient(top,#eee,#e0e0e0);
      border-color: #ccc;
    }

    &:ACTIVE {
      box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
      background-color: #eee;
      background-image: -webkit-linear-gradient(top,#eee,#e0e0e0);
      border-color: #ccc;
    }

    &.fui-disabled {
      box-shadow: none!important;
      background: none!important;
      border-color: transparent!important;
    }

  }

}